body{
    background-color: #E5E5E5;
}

header{
    background-color:#CF2B2B;
    padding: 8px 21px 18px 21px;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 92px;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

h1{
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Righteous', normal;
    font-size: 44px;
    line-height: 54.5px;
}

h3{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    margin-top: 123px;
    padding-bottom: 92px;
    box-sizing: content-box;
}

main>div{
    width: 100vw;
    margin-bottom: 16px;
}

div>p:first-child{
    font-family: 'Righteous', normal;
    font-size: 26px;
    font-weight: 400;
    line-height: 32.28px;
    color: #333333;
    width: 376px;
    margin-left: 19px;
    margin-bottom: 10px;
}

.item-scroller{
    width: 100vw;
    height: 216px;
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;
    padding-left: 11px;
    padding-right: 11px;

}

.item-scroller::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.item-scroller{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.item-scroller>div{
    background-color: #FFFFFF;
    width: 172px;
    margin: 0 8px 0 8px;
    flex-shrink: 0;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 14px 18px 14px;

}

.item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}

.item-description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.item-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

footer{
    height: 92px;
    width: 100vw;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

/*Js Classes*/

.button-requester{
    background-color:  #32B72F; 
}

.button-requester:active{
    background-color:  #65c663; 
}